<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm.platform.mapper.pub.GroupTypeMapper">

  <select id="query" resultType="com.alibaba.fastjson.JSONObject">
    SELECT t1.`Group`,t2.transactionType
    FROM mt5_groups t1 LEFT JOIN t_group_type t2 ON t1.`Group` = t2.groupName
  </select>

  <select id="countByGroupName" resultType="Integer">
    SELECT COUNT(*) FROM t_group_type WHERE groupName = #{groupName}
  </select>

  <update id="updateByGroupName">
    UPDATE t_group_type SET transactionType = #{transactionType} WHERE groupName = #{groupName}
  </update>

  <insert id="insert">
    INSERT INTO t_group_type
    (groupName, transactionType)
    VALUES
    (#{groupName}, #{transactionType})
  </insert>

  <select id="getTypeByGroupName" resultType="Integer">
    SELECT transactionType FROM t_group_type WHERE groupName = #{groupName}
  </select>

  <select id="listGroup" resultType="com.alibaba.fastjson.JSONObject">
    SELECT `Group` FROM mt5_groups
  </select>

</mapper>